CREATE SCHEMA IF NOT EXISTS boleta_bd;

CREATE TABLE IF NOT EXISTS boleta_bd.boleta (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    folio VARCHAR(40) NOT NULL UNIQUE,
    run_cliente VARCHAR(12) NOT NULL,
    dv_cliente VARCHAR(2) NOT NULL,
    cliente_nombre VARCHAR(160) NOT NULL,
    porcentaje_descuento DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    monto_neto DECIMAL(12,2) NOT NULL,
    iva DECIMAL(12,2) NOT NULL,
    monto_bruto DECIMAL(12,2) NOT NULL,
    fecha_emision TIMESTAMP NOT NULL,
    anulada BOOLEAN NOT NULL DEFAULT FALSE
);

CREATE TABLE IF NOT EXISTS boleta_bd.boleta_item (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    boleta_id BIGINT NOT NULL REFERENCES boleta_bd.boleta(id) ON DELETE CASCADE,
    sku BIGINT NOT NULL,
    producto_nombre VARCHAR(255) NOT NULL,
    tipo_receta VARCHAR(80),
    cantidad INTEGER NOT NULL,
    precio_unitario DECIMAL(12,2) NOT NULL,
    subtotal DECIMAL(12,2) NOT NULL
);

CREATE TABLE IF NOT EXISTS boleta_bd.cliente_receta (
    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
    run_cliente VARCHAR(12) NOT NULL,
    tipo_receta VARCHAR(80) NOT NULL,
    fecha_asignacion TIMESTAMP NOT NULL,
    CONSTRAINT uq_cliente_receta UNIQUE (run_cliente, tipo_receta)
);
